github "krimpedance/KRProgressHUD"
github "ruslanskorb/RSKImageCropper"
github "SVProgressHUD/SVProgressHUD"
github "dzenbot/DZNEmptyDataSet"
github "andreamazz/BubbleTransition"
github "rs/SDWebImage"
